section {
  &.homesec {
    z-index:inherit;
    height: 100vh;
    width: 100%;
    position: relative;
    @media(max-width: 767px){
      height:auto;
      float: left;
      margin-bottom:20px;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      z-index: 1;

    }
    h2 {
      @media(max-width:767px){
        font-size:2.2rem;
        text-align: center;
        padding:.75em 0;
      }
      &.header-wrap {
        position: relative;
        font-size:4.3rem;
        line-height:2;
        color: #FFF;
        z-index:2;
      span{
        display: inline-block;
        padding-right:40px;
        text-transform: uppercase;
      }
        &:after {

          display: block;
          content: '';
          background: url(images/boundless-ribbon.svg) top right;
          background-size: cover;
          height: 170px;
          width: calc(100% + 180px);
          top: -10px;

          z-index: -1;
          position: absolute;
          @media screen and (max-width: 767px) {
            right: 0;
            height: 145px;
            background-image: none;
            background: #91d0ba; /* Old browsers */
            background: -moz-linear-gradient(left, #91d0ba 0%, #48b982 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #91d0ba 0%, #48b982 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #91d0ba 0%, #48b982 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91d0ba', endColorstr='#48b982', GradientType=0); /* IE6-9 */
          }
        }
        &.left{
          float: left;
          span{

            padding-left:40px;

          }
          &:after{
            left: 0px;
          }
        }
        &.right{
          float: right;
          span{

            padding-right:40px;

          }
          &:after{
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
            right: 0px;
          }
        }
      }

    }

    &.first {
      .bottom-header{
        color: $white;
        text-align: right;
        line-height:1;
        @media(max-width: 767px){
          font-size:2rem;

        }
        p.mission{
          text-align: right;
        }
      }
      @media(max-width: 767px){
        .content-container{
          float: right;
        }
      }
      &:after{
        background-image: url("images/section1red.svg ");
        @media(max-width: 767px){
          background-position: top right;
        }
      }
    }
    &.second {
      @media(max-width: 767px){
      
        .content-container{
          float: left;
        }
      }
      &:after {
        background-image: url("images/section2blue.svg ");
        @media(max-width: 767px){
          background-position: top left;
        }
      }
    }
    &.third {
      @media(max-width: 767px){
        line-height:1;
        font-size:2rem;
        .content-container{
          float: right;
        }
      }
      &:after {
        background-image: url("images/section3yellow.svg ");
        @media(max-width: 767px){
          background-position: top right;
          
        }
      }
    }
    &.fourth {
      .bottom-header{
        margin-top:80px;
        line-height:1.1;

        @media(max-width: 767px){
          line-height:1;
          font-size:2rem;
          .content-container{
            float: left;
          }
        }
      }
      &:after {

        background-image: url("images/section4purple.svg ");
        @media(max-width: 767px){
          background-position: top left;
          
        }

      }
    }
  }
}

.content-container{
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  Z-INDEX: 1000;
  @media(max-width: 767px){
    position: relative;
    float:left;
  }
.top {
  position: absolute;
  top:0px;
  padding:5vw;
  max-width:60%;
  @media(max-width: 767px){
    max-width:100%;
    top:auto;
    bottom:auto;
    float: left;
    position: relative;
    padding:7vw 5vw;
  }

}
  .bottom{
    max-width:60%;
    position: absolute;
    bottom:0px;
    padding:5vw;
    @media(max-width: 767px) {
      max-width: 100%;
      top:auto;
      bottom:auto;
      float: left;
      position: relative;
      padding:60px 5vw 7vw;
    }
      p{
      font-size:1.5rem;
      line-height:1.2;
      color: $white;


        @media(max-width:767px){
          font-size:1.2rem;
          line-height:1.1;
          padding:20px 0;
          max-width:90%;
        }
    }
    ul{
      color: $white;
      font-size:1rem;
    }
    @media(max-width: 767px) {
      width:100%;
    }
  }
.left{
  left:0;
}
  .right{
    right:0;
  }
  article {
    &.top, &.bottom {
      h4 {
        line-height: 1;
      }
      h5 {
        line-height: 1;
      }
      @media(max-width: 767px) {
        width:100%;
      }
      .day{
        width:100%;
        @media(max-width: 767px) {
          width:50%;
          float: right;
        }
        @media(max-width:550px){
          width:79%;
          clear: both;
          float: right;
        }
      }
    }
  }
}



.window{
  background-color: $red;
  background-image: url("images/B-Assets-Final/BoundlessPattern-3.svg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw;
  height:50px;
  position: relative;
  float: left;
}
.btn-new{
  background-color:$darkGray;
  display: inline-block;
  text-align: center;
  padding:20px 40px;
  color: $white;
  text-transform: uppercase;
}
#map{
  @media(max-width:767px){
    display: none; 
  }
}