footer {
  @include grid-container;
<<<<<<< HEAD
  background: #000;
  color: white;
  padding: 10px 0;
  clear: both;

  .left {
    @include grid-column(6);
=======
  clear: both;
  width: 100%;
  background: $gray;
  padding: 2rem;
  position: relative;
  z-index: 25;
  margin-bottom: -1rem;
  font-family: $body-stack;
  line-height: 2rem;
  color: $darkGray;

  .left {
    @include grid-column(6);
    margin: 0;
>>>>>>> b00ea94448dd4685b4fee459cb88537ec2b01029
  }
  .right {
    @include grid-column(6);
    text-align: right;
<<<<<<< HEAD
=======
    float: right;
>>>>>>> b00ea94448dd4685b4fee459cb88537ec2b01029

    .copyright {
      margin-top:20px;
      font-size: .85rem;
    }
  }

<<<<<<< HEAD
  form {
    input, textarea {
      width: 100%;
      max-width: 450px;
      display: block;
      margin: 8px 0;
=======
  .logo img {
    width: 100%;
    max-width: 300px;
  }

  form {
    input {
      @include grid-column(4);
      //max-width: 450px;
      //display: block;
      margin: 10px;
>>>>>>> b00ea94448dd4685b4fee459cb88537ec2b01029
      padding: 5px;
      border-radius: 2px;
      border: none;
      box-shadow: none;
<<<<<<< HEAD
      background-color: rgba(255,255,255,.9);
=======
      background-color: $green;
      font-family: $body-stack;
      font-size: 1.2rem;
      color: $black;
      outline-color: #5abb9a;
    }
    input::-webkit-input-placeholder {
      color: $white !important;
    }

    input:-moz-placeholder { /* Firefox 18- */
      color: $white !important;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
      color: $white !important;
    }

    input:-ms-input-placeholder {
      color: $white !important;
    }
    textarea {
      @extend input;
      @include grid-column(12);
      margin-left: 10px;
>>>>>>> b00ea94448dd4685b4fee459cb88537ec2b01029
    }
  }

  ul li {
    display: inline-block;
    margin: 2px 8px;
  }
}