//basics

$white:#ffffff;
$black:#222222;


//boundless color palette - updated 2/25/17

$yellow: #ffcc66;
$blue: #40c2d2;
<<<<<<< HEAD
$green: #90d1bb;
=======
$darkBlue: #2692a0;
$green: #90d1bb;
$darkGreen: #347d64;
>>>>>>> b00ea94448dd4685b4fee459cb88537ec2b01029
$red: #f1675d;
$gray: #58595b;
$gray-background: #58595b;

$darkGray: #2b2b2b;
$dark-75: rgba(43,43,43, .95);

$purple: #6772B7;   //purple needs confirmation, hex code not provided





